html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar {
    margin-bottom: 0!important;
    border: 0;
    border-radius: 0;
}

.nav.navbar-nav li a {
    color: white;
}

.shadow{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2)
}

.navbar-collapse.in{
    overflow: visible !important;
}

.nav{
    padding-left: 15px;
}

.navbar-brand {
    padding: 0px;
    padding-top: 10px;
}

.navbar-brand>img {
    margin-top: 15px;
    padding: 0;
    height: 100%;
    width: auto;
}

.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggle{
    background-color: white;
    z-index: 3;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
}

.dropdown-menu{
    background-color: #009688;
    border:0;
    top: 200%;
}

.glyphicon{
    top: 0;
}

.labels {
    color: #212121;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #00897B;
}

@media (min-width: 768px) {

    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }

}

.mobile-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    padding: 15px 0px;
    width: 100%;
    height: auto;
}

@media (max-width: 768px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: white;
    }
}

td img{
    width: 100%;
    display: block;
}

table{
    max-width: 400px;
    width: 100% !important;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0px;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    right:0;

    visibility: hidden;
    padding: 15px 0px;
    width: 60%;
    height:100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.AQIStat{
    width: 100%;
    border-radius: 0;
    font-size: xx-large;
    text-align: center;
    padding: 0px 0px;
}

.card-content{
    padding: 0px 15px;
}

.table{
    font-size: x-small;
    width: auto;
    margin-bottom: 0px!important;
}

.map-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    z-index: 1 ;
}

.mapAPI{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #009688;
    z-index: 3;
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    margin:0 auto;
}

.footer ul li{
    display:inline-block!important;
    padding: 5px;
}

.footer ul li a{
    color: white!important;
    text-decoration: none;
}


.header1 {
    background-image: url('../assets/data/banner1.jpg');
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.header-fade {
    background-color: rgba(38,50,56,0.6);
}

.content-body{

}

.content-background-color{
    background-color: rgba(77,182,172,1);
}

.content-image{
    display: block;
    margin: auto;
    width: 100%;
}

.content-p{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.header-content {
    text-align: center;
    vertical-align: middle;
    color: white;
}

.header-content h1, h2, p{
    font-family: "Roboto", Times, serif;
}

p.thick {
    font-weight: bold;
}

p.thicker{
    font-weight: 400;
}

.sumports-header{
    font-size: 25px;
}

.sumports{
    font-size: 20px;
}
