body{
    background-color: #E0E0E0;
}
.nav-wrapper{
    background-color: #009688;
}
.margin-5{
    margin: 5px 5px;
}
.brand-logo{
    margin-top: 5px;
    height: 50px;
}
.scroll{
    height:50%;
    width:100%;
    transition: overflow 2s;
    overflow:hidden;
}
.scroll:hover{
    height:50%;
    width:100%;
    overflow:auto;
}
.scroll::-webkit-scrollbar-track
{

    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 150, 136, 0.3);
    background-color: #009688;
}

.elementName, .elementCurrent{
    font-weight: bold;
}
.elementMin{
    color: #2196F3;
}
.elementMax{
    color: #b71c1c;
}




.labels {
    color: #212121;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}

nav{
    height: 60px;
    line-height: 60px;
}
.centered-nav{
    float: right;
    position: relative;
    left: -30%;
}

.centered-nav.nav-status{
    float: right;
    position: relative;
    left: -16%;

}

nav.navbar-fixed {
    top: -4px;
    height: 40px;
    line-height: 40px;
}

.material-icons{
    vertical-align: text-bottom;
}

nav  ul.black-text a{
    color: #444;
}

.map-container{
    flex: 1;
    top: -4px;
    position: relative;
}
#googleMap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.float-card{
    position: absolute;
    right: 0;
    margin: 0.5rem 0.5rem 1rem 0;
    z-index: 997;
    width: 50%;
    max-height: 100%;
}
.row-no-after{
    content: none;
}

.carousel.carousel-slider{
    max-height: 190px;
}
.carousel .indicators .indicator-item{
    background-color: #616161;
}
.carousel .indicators .indicator-item.active{
    background-color: #212121;
}
.carousel .indicators{
   margin: 0 0 10px 10px;
}
#AQIStat, #AQIStat-reports{
    background-color: #00acc1;
    border-radius: 2px;
}
.flex{
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-direction: column;
}

html, body{
    height: 100%;

}

.tabs .tab a{
    color: #009688;

}
.tabs .tab a:hover{
    color: #B2DFDB;

}

.tabs .indicator{
    background-color: #009688;
}
td, th{
    padding: 12px 5px;
}