body{

}
.nav-wrapper{
    background-color: #009688;
}
.margin-5{
    margin: 5px 5px;
}
.brand-logo{
    margin-top: 5px;
    height: 50px;
}
.scroll{
    height:200px;
    width:100%;
    overflow:hidden;
}

.scroll:hover{
    overflow-y: scroll;
}

form {
    margin-bottom: 0;
}
.scroll::-webkit-scrollbar-track
{

    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 150, 136, 0.3);
    background-color: #009688;
}

.elementName, .elementCurrent{
    font-weight: bold;
}
.elementMin{
    color: #2196F3;
}
.elementMax{
    color: #b71c1c;
}




.labels {
    color: #212121;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}

nav{
    height: 60px;
    line-height: 60px;
}
footer.page-footer .footer-copyright{
    background-color: #009688
}

#legends nav ul li{
    margin: 0 5px 0 5px;
}
.centered-nav{
    float: right;
    position: relative;
    left: -22%;
}

.centered-nav.nav-status{
    float: right;
    position: relative;
    left: -21%;

}
.parallax-css{
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.stroke-white{
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
}
nav.navbar-fixed {
    height: 45px;
    line-height: 45px;
}

.material-icons{
    vertical-align: text-bottom;
}

nav  ul.black-text a{
    color: #444;
}

.page-footer{
    border-top:solid;
    border-color: #e0e0e0;
    border-width: 1px;
}

#googleMap{
    position: absolute;
    top: 164px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.float-card{
    position: absolute;
    right: 0;
    margin: 0.5rem 0.5rem 1rem 0;
    z-index: 997;
    width: 50%;
    max-height: 100%;
}
.row-no-after{
    content: none;
}
.img-circle {
    border-radius: 50%;

}
#AQIStat, #AQIStat-reports{
    background-color: #00acc1;
    border-radius: 2px;
}
.tabs .tab a{
    color: #009688;

}
.tabs .tab a:hover{
    color: #B2DFDB;

}

.tabs .indicator{
    background-color: #009688;
}
td, th{
    padding: 0px 5px;
}
