body {

}

.collapsible-body .chart{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-wrapper {
    background-color: #009688;
}

.brand-logo {
    margin-top: 5px;
    height: 50px;
}

.scroll {
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.feed-divider{
    border-bottom: 1px solid #e0e0e0;

}

@media only screen and (max-width: 992px) {
    .scroll:hover {
        overflow-x: scroll;
    }
}

.scroll:hover {
    overflow-y: scroll;

}

.brand-logo {
    margin-top: 10px;
}

.material-icons {
    vertical-align: -5px;
}

form {
    margin-bottom: 0;
}

.scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 150, 136, 0.3);
    background-color: #009688;
    height: 5px;
}

.elementName, .elementCurrent {
    font-weight: bold;
}

.elementMin {
    color: #2196F3;
}

.elementMax {
    color: #b71c1c;
}

.labels {
    color: #212121;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #212121;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
}
.center-horizontal-vertical{
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

@media only screen and (min-width: 601px) {
    .left-align-on-med-and-up {
        text-align: left;
    }
}
.bottom-fixed{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;

}

.chart{
    height: 85px;
    width: 100% !important;
}
nav {
    height: 60px;
    line-height: 60px;
}

footer.page-footer .footer-copyright {
    background-color: #009688
}



#legends nav ul li {
    margin: 0 25px 0 5px;
}
.img-parallax{

    -webkit-filter: drop-shadow(50px 50px 50px rgba(0,0,0,0.16));
    filter:         drop-shadow(50px 50px 50px rgba(0,0,0,0.16));
}

@media only screen and (min-width: 1200px) {
    .centered-legend {
        float: right;
        position: relative;
        left: -19%;
    }

    .centered-nav {
        float: right;
        position: relative;
        left: -25%;
    }
}

@media only screen and (min-width: 1500px) {
    .centered-legend {
        float: right;
        position: relative;
        left: 25%;
    }

    .centered-nav {
        float: right;
        position: relative;
        left: -25%;
    }
}

@media only screen and (min-width: 1700px) {
    .centered-legend {
        float: right;
        position: relative;
        left: 18%;
    }

    .centered-nav {
        float: right;
        position: relative;
        left: -30%;
    }
}

nav.navbar-fixed {
    height: 45px;
    line-height: 45px;
}

nav ul.black-text a {
    color: #444;
}

.emphasize-text {
    font-size: 1em;
    font-weight: bold;
}

.page-footer {
    border-top: solid;
    border-color: #e0e0e0;
    border-width: 1px;
}

.date {
    color: #212121 !important;
    border-bottom: 1px solid #9e9e9e !important;
    padding: 0 !important;
}

.input-date {

}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.img-small {
    width: 150px;
    height: 150px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 15px 5px;
    border-radius: 0px;
    border-bottom: 1px solid #e0e0e0;

}

.btn-flat:hover {
    background-color: transparent;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

.input-date-time {

}

.flatpickr label {
    top: 0px;
    font-size: 0.8rem;
}

.map-home {
    position: absolute;
    top: 154px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.map-daily{
    position: absolute;
    top: 154px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height : 60%;
}

.form-card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 15px;
    position: relative;
}

.card, .form-card {
    transition: all 0.3s ease-in;
}

@media only screen and (max-width: 992px) {
    .float-card {
        width: 106%;
        top: 5%;
        max-height: 100%;
        margin-left: -0.75rem;

    }
}

@media only screen and (min-width: 601px) {
    .float-card {

        position: absolute;
        right: 0.5%;
        margin: 0.5rem 0.5rem 1rem 0;
        z-index: 997;
        width: 50%;
        top: 29%;
        min-height: 440px;
    }
}


.side-nav .collapsible-header{
   padding: 0 ;
}

.row-no-after {
    margin-bottom: 0;
}
.chart-legend ul {
    list-style: none;
}

.chart-legend li {
    display: inline;
}
.chart-legend li span{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.img-circle {
    border-radius: 50%;

}

.tabs .tab a {
    color: #009688;

}

.tabs .tab a:hover {
    color: #B2DFDB;

}

.tabs .indicator {
    background-color: #009688;
}

td, th {
    padding: 5px 2px;
}
