body{
    background-color: #E0E0E0;
}
.nav-wrapper{
    background-color: #009688;
}

.brand-logo{
    margin-top: 5px;
    height: 50px;
}

.labels {
    color: #212121;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}

nav{
    height: 60px;
    line-height: 60px;
}
.centered-nav{
    float: right;
    position: relative;
    left: -30%;
}

.centered-nav.nav-status{
    float: right;
    position: relative;
    left: -16%;

}

nav.navbar-fixed {
    height: 40px;
    line-height: 40px;
}

.material-icons{
    vertical-align: text-bottom;
}

nav  ul.black-text a{
    color: #444;
}

.map-container{
    flex: 1;
    position: relative;
}
#googleMap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.float-card{
    position: absolute;
    right: 0;
    margin: 0.5rem 0.5rem 1rem 0;
    z-index: 997;
    width: 50%;
    max-height: 100%;
}
.row-no-after{
    content: none;
}

.carousel.carousel-slider{
    max-height: 190px;
}
.carousel .indicators .indicator-item{
    background-color: #616161;
}
.carousel .indicators .indicator-item.active{
    background-color: #212121;
}
.carousel .indicators{
   margin: 0 0 10px 10px;
}
#AQIStat, #AQIStat-reports{
    background-color: #00acc1;
    border-radius: 2px;
}
.flex{
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-direction: column;
}

html, body{
    height: 100%;

}

.tabs .tab a{
    color: #009688;

}
.tabs .tab a:hover{
    color: #B2DFDB;

}

.tabs .indicator{
    background-color: #009688;
}
td, th{
    padding: 12px 5px;
}